body{
    background-color: blue;
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label{
    width: 40vw;
    display: inline-block;
    white-space: nowrap;
}